/* ETIQUETAS */

body {
    font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #666666;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    background: url("../img/fondo2.png") no-repeat;
    background-size: cover;
}
p {
    text-align: justify;
}

a, a:active, a:focus, a:link, a:visited {
    color: #3F7DE3;
}

a:hover {
    color: #378237;
}
h1 {
    font-size: 12pt;
}

h2 {
    font-size: 10pt;
}

input {
    font-size: 8pt;
}

/* IDENTIFICADORES */

#borde {
    border-left: 2px solid #144700;
    border-right: 2px solid #144700;
    width: 800px;
    text-align: left;
    margin: auto;
}

#contenedor {
    text-align: left;
    width: 791px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 8px 8px 18px rgb(41, 41, 41);
}

#navegador {
    background: #ff7815 url("../img/titlat.png");
    background-size: cover;
    height: 28px;
    width: 791px;
    text-align: center;
    padding-bottom: 16px;
    color: #C67133;
    padding-top: 5px;
}

#navegador a {
    margin-top: 10px;
    margin-left: 23px;
    margin-bottom: 5px;
    text-decoration: none;
    padding-right: 18px;
}

#cabecera {
    background: transparent url("../img/otoño.png") no-repeat;
    background-size: cover;
    height: 331px;
    width: 791px;

}

#cuerpo {
    width: 555px;
    height: 382px;
    padding: 3px 18px 15px 20px;
    float: right;
    background: transparent url("../img/bckgBody.png") no-repeat bottom right;
    background-size: 100%;
    border-top: 2px solid #c8c8c8;
}

#campotexto {
    float: left;
}

#campotexto input {
    width: 85px;
    font-size: 8px;
}

#fbuscar form {
    margin-bottom: 0px;
    margin-top: 0px;
}

#botonbuscar {
    padding-top: 3px;
    padding-left: 106px;
    width: 25px;
    height: 15px;
}

#botonbuscar input {
    border: 0px none;
}

#lateral {
    width: 198px;
    float: left;
    height: 400px;
    margin-top: 0px;
    background: #c8c8c8;
    border-top: 2px solid #c8c8c8;
}

#list ul {
    margin: 5px 10px 0px 0px;
    padding: 0px 0px 0px 4px;
    list-style: none;
}

#list ul li {
    padding-left: 20px;
    background: url("../img/list.png") 0 2px no-repeat;
    background-position: left;
    margin-bottom: 15px;
}

#pie {
    border-top: 1px solid;
    background: transparent url("../img/titlat.png") no-repeat;
    background-size: cover;
    clear: both;
    color: #f5f5f5;
    text-align-last: left;
    width: 791px;
    margin: auto;
  }
  
#pie2 {
    text-align-last: right;
    margin: auto;
  }

/* CLASES */

.cuerpolateral {
    background-color: #c8c8c8;
    padding: 15px 10px 10px 15px;
    margin-bottom: 20px;
}

.titlat {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 7px 3px 7px 8px;
    margin: 0px 0px 0px 0px;
    font-weight: normal;
    letter-spacing: 2px;
    background: #ff7815 url("../img/titlat.png") no-repeat bottom right;
}

a.enlacenav, a.enlacenav:visited, a.enlacenav:active, a.enlacenav:focus, a.enlacenav:link {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}

a.enlacenav:hover {
    color: #ff7815;
}

.radio {
    clear: both;
}
